@font-face {
    font-family: fuente3d;
    src: url(a/mexcellent-cdnfonts/mexcellent\ 3d.ttf);
}

@font-face {
    font-family: fuente;
    src: url(a/young-serif-cdnfonts/YoungSerif-Regular.ttf);
}

body {
    background-image: url('a/0e6bdaad458721ecf7eb50e0254849bc-0015.jpg');
    color: #091731;
    font-family: 'Times New Roman', Times, serif;
}

.logs {
    margin-left: 80%;

}
.logs a{
    color: #F4DCC0;
}
a {
    color: #1155D3;
}

h1 {
    color: #EF8104;
    font-family: fuente3d;

}

.container {
    text-align: center;
    width: 75%;


}

.header {
    text-align: center;
}


.content {
    background-color: #F4DCC0;
    width: 100%;
    padding: 50px;
    border-radius: 8px;
    text-align: center;

}

.boton {
    margin-top: 20px;
    background-color: #EF8104;
    color: #1155D3;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;

}

.boton:hover {
    background-color: #1155D3;
    color: #EF8104;
}


.cat {
    width: 100px;
}